
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
   margin: 0 auto;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}
.cabecalho{
   background-color: bisque;
   padding:10px 0px 10px 0px;
   width: 1800px;
   margin: 0px;
 }
.caixa{
width: 1800px;
position:relative;
margin:auto;

}
.Logo{
   padding-top: 10px;
   padding-left: 40px;
   
}
.hmenu{
 position: absolute;
   font-size: 24px;
   top: 50px;
   font-size: 24px;
   right: 10px;

 }

.hmenu ul li {
   display: inline;
   margin: 0 0 0 15px
 }
 .hmenu ul li a {
   color: blue;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: bold;
   margin-right: 15px;
 }
 .hmenu ul li a:hover{
   color: coral;
   border-bottom: 1px solid coral
 }
 