
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
   margin: 0 auto;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}
.cabecalho{
   background-color: bisque;
   padding:10px 0px 10px 0px;
   width: 1800px;
   margin: 0px;
 }
.caixa{
width: 1800px;
position:relative;
margin:auto;

}
.Logo{
   padding-top: 10px;
   padding-left: 40px;
   
}
.hmenu{
 position: absolute;
   font-size: 24px;
   top: 50px;
   font-size: 24px;
   right: 10px;

 }

.hmenu ul li {
   display: inline;
   margin: 0 0 0 15px
 }
 .hmenu ul li a {
   color: blue;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: bold;
   margin-right: 15px;
 }
 .hmenu ul li a:hover{
   color: coral;
   border-bottom: 1px solid coral
 }
 
 .sobre_rio_antigo{
  margin: 20px 0px 30px 0px;
  padding: 10px 0;
  box-sizing: border-box;
 }
 .sobre_rio_antigo h3{
  padding: 10px 0;
  font-family:  monospace;
  font-size: 20px;
  color: brown;
 }
 .sobre_rio_antigo p{
  font-family: monospace;
  font-size: 18px;
  text-align: justify;
 }
 .pierre-verger {
  font-weight: bold; 
  color: #0000ff"
}

.pierre-verger a {
  text-decoration: none;
}

.pierre-verger a:visited {
  color: #9c0e68;
}

.conteudo-rio-antigo-cabecalho th {
   padding-top: 20px;
   padding-bottom: 10px;
   font-family: 'arima',cursive;
   font-size: 28px ;
}
.conteudo-rio-antigo{
  border: 1px solid blue;
  border-radius: 2px;
  width:95%
}
.conteudo-rio-antigo:hover{
  border: 4px solid violet;}
.conteudo-rio-antigo h3{
  color: brown;
  margin: 15px 0;
  text-align: center;
}
.conteudo-rio-antigo p{
  text-align: justify;
  padding: 0 10px;
}
.conteudo-rio-antigo img{
  width: 270px;
}
.conteudo-rio-antigo-img{
   align-content: center;
    margin: 8px 0;
    text-align: center;
}




.rodape {
  background-color: rgb(245,247,230);
  width: 940px;
  margin-top: 20px;
}

.rodape div {
  margin: 0 auto;
  box-sizing: border-box;
}

.rodape h4 {
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  color: blue;
}


.rodape ul {
  margin-left: 20px;
  padding: 20px;
}