.conteudo-principal{
    width: 940px;
}

.titulo-pricipal{
    font-family: 'arima',cursive;
    color: rgb(10,85,151);;
    margin: 20px;
    text-align: center;
    font-size: 36px;
    border-bottom: 1px solid rgb(10,85,151);
}
.conteudo-secao{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #a196a7;
  margin: 0 0 10px 0;
 }
 .conteudo-secao p{
  padding: 5px 0 5px 0;

 }
 .cabecalho-secao{
    padding: 10px,0;
 }